@import "tailwindcss";

@font-face {
  font-family: "Alter Bridge";
  src: url("/fonts/AlterBridge-ywn6Z.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Germania One";
  src: url("./assets/fonts/GermaniaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #050712;
  color: rgb(241 245 249); /* equivalent of text-slate-100 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

